.column {
	width: 250px;
	position: relative;
	float: left;
	padding-right: 25px;
	padding-left: 10px;
	padding-top: 0;
	padding-bottom: 20px;
}

.column_double  .column {
	padding-left: 0;
}

.column  .column {
	padding-left: 0;
}

.column_double {
	width: 550px;
}

.column_triple {
	width: 97%;
}

.column_right {
	float: right;
}

.column_align_right {
	text-align: right;
}
