.column {
	width: 250px;
	margin-right: 35px;
	position: relative;
	float: left;
	padding-bottom: 10px;
}

.column_double {
	width: 570px;
	margin-right: 0;
}

.column_triple {
	width: 97%;
}

.column_right {
	float: right;
	text-align: right;
	margin-right: 5px;
}
