{% extends "sp-base.html" %}

{% block css %}
  {% parent %}
    <link rel="stylesheet" href="/landing-premium/_landing-premium.css" />
{% endblock %}


{% block totalName %}
	Всего к оплате
{% endblock %}

{% block extra %}
	<table class="invoice first">
	<tr>
		<td class="content-block aligncenter">
	<strong>Для активации Вашей лендинг страницы <br>на сайте smartpage.com.ua, Вам необходимо:</strong>
		</td>
	</tr>
	<tr>
		<td class="content-block aligncenter last">
			<table class="invoice-items" cellpadding="0" cellspacing="0">
				<tr>
					<td class="alignleft" width="80%">
				1) произвести оплату любым удобным для вас способом;
					</td>
				</tr>
				<tr>
					<td class="alignleft">
				2) указать номер транзакции оплаты в ответе на это письмо;
					</td>
				</tr>
				<tr>
					<td class="alignleft content-block">
				3) заполнить все поля с данными(в личном кабинете SmartPage), которые Вы хотите отобразить на своей странице.
					</td>
				</tr>
			</table>
		</td>
	</tr>
	</table>
{% endblock %}
{% block pay %}
<tr>
	<td class="content-block aligncenter first"><h3>Реквизиты для оплаты</h3><br>кошелек HelixMoney: <strong>+380938758161</strong>, <br>или карта ПриватБанка: <strong>4149 6258 1102 6671</strong>
	</td>
</tr>
{% endblock %}

{% block contacts %}
	<tr>
		<td class="content-block aligncenter">С уважением, команда SmartPage</td>
	</tr>
{% endblock %}

{% block footer %}
  По всем возникшим вопросам пишите на <a href="mailto:{{ supportMail|lower }}">{{ supportMail }}</a>.
{% endblock %}
