.logo {
	vertical-align: center;
	float: left;
	margin-right: 20px;
}

@media (max-width: 991px) {
	.logo {
		width: 30%;
		margin-top: 10px;
		padding-right: 15px;
		padding-left: 10px;
	}
	.logo .image {
		height: auto;
		width: 100%;
	}
}