.logo {
	vertical-align: center;
	float: left;
	margin-right: 20px;
}

@media (max-width: 767px) {
	.logo {
		width: 30%;
		margin-top: 10px;
		margin-left: 5%;
	}
	.logo .image {
		height: auto;
		width: 100%;
	}
}