.link_logout {
	color: #eee;
	display: block;
	float: right;
	padding-top: 4px;
}

@media (max-width: 900px) {
	.link_logout {
		color: rgba(240,240,240, .7);
		padding-right: 10px;
		font-size: 14px;
	}
}