.link_logout {
	padding-top: 14px;
	color: #222;
	display: block;
	float: right;
}

@media (max-width: 900px) {
	.link_logout {
		color: rgba(240,240,240, .7);
		padding-right: 10px;
		font-size: 14px;
		position: absolute;
		bottom: -20px;
		right: 20px;
	}
}