.header {
	height: 60px;
	padding-bottom: 10px;
	padding-top: 20px;
	width: 100%;
	top: 0;
	left: 0;
	color: #eee;
	position: fixed;
	z-index: 10;
	background: rgba(255,255,255,0.3);
	box-shadow: rgba(0, 0, 0, 0.2) 13px 13px 27px -4px;
	border-bottom: 1px solid rgba(200,200,200,0.3);
}


.header_admin .content-wrapper {
	max-width: none;
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
}


@media (max-width: 900px) {
	.header {
		height: auto;
		min-height: 60px;
		padding-bottom: 5px;
		padding-top: 10px;
		width: 100%;
		top: none;
		left: auto;
		color: #eee;
		position: relative;
	}
}
