.quote-author
{
	font-family: open-sans-n6, sans-serif;
}

.quote-text
{
	font-family: open-sans-n3, sans-serif;
}

.Menu-Buttons
{
	font-family: dosis-n3, sans-serif;
}

#u3761-5
{
	font-family: '__Pe-icon-7-stroke_5';
}

#u1711-10
{
	font-family: '__FontAwesome_5';
}

#u1717-10,#u1715-6,#u1730-4,#u2832-8,#u1821-5
{
	font-family: open-sans-n4, sans-serif;
}

#u3840
{
	font-family: ubuntu-n7, sans-serif;
}

#u89,#u89-4,#u89-5
{
	font-family: open-sans-n8, sans-serif;
}

#u1830-10,#u1836-4,#u1825-4,#u2061-4,#u2063-4,#u2062-4,#u2064-4,#u89-9,#u94-8,#u95-4
{
	font-family: open-sans-n4, sans-serif;
}

#u2028-4
{
	font-family: strong-n4, sans-serif;
}

#u2030-4
{
	font-family: strong-n4, sans-serif;
}

#u2029-4
{
	font-family: strong-n4, sans-serif;
}

#u2031-4
{
	font-family: strong-n4, sans-serif;
}

#u2026-4
{
	font-family: strong-n4, sans-serif;
}

#u2027-4
{
	font-family: strong-n4, sans-serif;
}

#u2025-4
{
	font-family: strong-n4, sans-serif;
}

#u1842-4,#u1821-2,#u375-4
{
	font-family: '__FontAwesome_5';
}

#u372-4
{
	font-family: '__FontAwesome_5';
}

#u374-4
{
	font-family: '__FontAwesome_5';
}

#u373-4
{
	font-family: '__FontAwesome_5';
}

#u376-4
{
	font-family: '__FontAwesome_5';
}

#u2493-4
{
	font-family: '__FontAwesome_5';
}

#u2494-4
{
	font-family: '__FontAwesome_5';
}

#u2495-4
{
	font-family: '__FontAwesome_5';
}

#u2496-4
{
	font-family: '__FontAwesome_5';
}

#u2497-4
{
	font-family: '__FontAwesome_5';
}

#u2498-4
{
	font-family: '__FontAwesome_5';
}

#u2215-4
{
	font-family: '__FontAwesome_5';
}

#u2735-4
{
	font-family: '__FontAwesome_5';
}

#u2736-4
{
	font-family: '__FontAwesome_5';
}

#u2739-4
{
	font-family: '__FontAwesome_5';
}

#u2738-4
{
	font-family: '__FontAwesome_5';
}

#u2737-4
{
	font-family: '__FontAwesome_5';
}

#u2742-4
{
	font-family: '__FontAwesome_5';
}

#u2740-4
{
	font-family: '__FontAwesome_5';
}

#u2741-4
{
	font-family: '__FontAwesome_5';
}

#u1957-4
{
	font-family: open-sans-n4, sans-serif;
}

#u1959-4
{
	font-family: open-sans-n4, sans-serif;
}

#u1962-4
{
	font-family: open-sans-n4, sans-serif;
}

#u1964-4
{
	font-family: open-sans-n4, sans-serif;
}

#u1963-4
{
	font-family: open-sans-n4, sans-serif;
}

#u1965-4
{
	font-family: open-sans-n4, sans-serif;
}

#u1966-4
{
	font-family: open-sans-n4, sans-serif;
}

#u1967-4
{
	font-family: open-sans-n4, sans-serif;
}

#u2719-4,#u2743-4,#u2744-4,#u2749-4,#u2748-4,#u2746-4,#u2750-4,#u2751-6,#u2752-4
{
	font-family: open-sans-n6, sans-serif;
}

#u2260-4
{
	font-family: quicksand-n7, sans-serif;
}

#u2262-4
{
	font-family: quicksand-n7, sans-serif;
}

#u875-4
{
	font-family: '__FontAwesome_5';
}

#u876-4
{
	font-family: '__FontAwesome_5';
}

#u877-4
{
	font-family: '__Pe-icon-7-stroke_5';
}

#u878-4
{
	font-family: '__FontAwesome_5';
}

#u879-4
{
	font-family: '__FontAwesome_5';
}

#u880-4
{
	font-family: '__FontAwesome_5';
}

#u881-4
{
	font-family: '__FontAwesome_5';
}

#u882-4
{
	font-family: '__FontAwesome_5';
}

#u2102-4
{
	font-family: '__FontAwesome_5';
}

#u2103-4
{
	font-family: '__FontAwesome_5';
}

#u2104-4
{
	font-family: '__FontAwesome_5';
}

#u2113-4
{
	font-family: '__FontAwesome_5';
}

#u2112-4
{
	font-family: '__Pe-icon-7-stroke_5';
}

#u2107-4
{
	font-family: '__FontAwesome_5';
}

#u2117-4
{
	font-family: '__FontAwesome_5';
}

#u2133-4
{
	font-family: open-sans-n7, sans-serif;
}

#u1874-4,#u2099-4,#u2095-4,#u2100-4,#u2086-4,#u2087-4,#u2088-4
{
	font-family: open-sans-n4, sans-serif;
}

