#u2578
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u1249
{
	background-color: #313131;
}

#u1249_align_to_page
{
	position: relative;
}

#u3761-5
{
	background-color: transparent;
	line-height: 86px;
	font-size: 72px;
	color: #FFFFFF;
	font-family: '__Pe-icon-7-stroke_5';
	font-weight: 400;
	position: relative;
}

#u3761
{
	line-height: 86px;
}

#u3761-2
{
	font-size: 80px;
	line-height: 96px;
}

#u3942-6
{
	background-color: transparent;
	line-height: 18px;
	text-transform: uppercase;
	font-size: 15px;
	text-align: center;
	color: #FFFFFF;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
}

#u3761-3,#u3942-4
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u3942
{
	font-size: 12px;
	text-transform: none;
	line-height: 14px;
}

#u3942-2
{
	line-height: 18px;
}

#u3942-3
{
	font-size: 14px;
	line-height: 17px;
}

#u1250,#u3943
{
	background-color: transparent;
	position: relative;
}

