.user-photo__upload {
	position: relative;
	padding-bottom: 20px;
}

@media (max-width: 900px) {
	.user-photo__upload {
		float: left;
		width: 60%;
	}
}

@media (max-width: 740px) {
	.user-photo__upload {
		float: left;
		width: 80%;
	}
}