.menu-item_top {
	float: left;
	padding-left: 25px !important;
	padding-right: 25px !important;

}

.menu-item_top.menu-item_hovered {
	border-radius: 3px;
}

.menu-item_top.menu-item_checked {
}

@media (max-width: 900px) {
	.menu-item_top {
		padding-left: 15px !important;
		padding-right: 15px !important;
		background-image: none !important;

	}
}