.header__primary {
	width: 100%;
	min-height: 50px;
	padding-top: 15px;
	padding-bottom: 9px;

	position: relative;

	background: rgba(255,255,255,0.3);
	box-shadow: rgba(0, 0, 0, 0.2) 13px 13px 27px -4px;
	border-bottom: 1px solid rgba(200,200,200,0.3);
}
