.balance {
	font-size: 19px;
	color: #ccc;
	border-radius: 5px;
	padding: 10px;
	padding-top: 2px;
	padding-bottom: 2px;
	background-color: rgba(240, 240, 240, .2);
	box-shadow: rgba(0, 0, 0, 0.2) 7px 2px 7px -1px;
	border-left: 1px solid rgba(200, 200, 200, 0.3);
	border-top: 1px solid rgba(200, 200, 200, 0.15);
	cursor: pointer;
}

.balance:hover {
	background-color: rgba(240, 240, 240, .25);
}
