.photo-frame {
	border: solid 3px rgba(255,255,255, 0.8);
	border-radius: 120px;
	width: 240px;
	height: 240px;
	vertical-align: middle;
	
	box-shadow: rgba(0, 0, 0, 0.15) 10px 13px 27px -4px;
	overflow: hidden;
}


@media (max-width: 900px) {
	.photo-frame  {
		float: left;
		margin-right: 35px;
		position: relative;
		margin-bottom: 25px;
		
	}
}
