.user-photo {
	position: relative;
	border: none;
	padding-top: 0;
}

.attach_theme_simple .attach__file, .attach_theme_simple .attach__no-file {
	display: block;
	margin: 0;
	font-size: 15px;
	margin-top: 13px;
	color: #444;
	white-space: normal;
}