.padding_none {
	padding: 0;
}

.padding_all {
	padding: 10px;
}

.padding_top {
	padding-top: 10px;
}

.padding_bottom {
	padding-bottom: 10px;
}

.padding_clear_bottom {
	padding-bottom: 0;
}

.padding_clear_top {
	padding-top: 0;
}

.padding_clear_left {
	padding-left: 0;
}

.padding_clear_right {
	padding-right: 0;
}

.padding_left {
	padding-left: 10px;
}

.padding_right {
	padding-right: 10px;
}

.padding_double.padding_top {
	padding-top: 20px;
}

.padding_double.padding_bottom {
	padding-bottom: 20px;
}

.padding_double.padding_left {
	padding-left: 20px;
}

.padding_double.padding_right {
	padding-right: 20px;
}

