
.menu-item_checked {
	font-weight: 600;
	background: 5px 50% no-repeat url("/images/tip.svg") !important;
}

.menu-item_hovered {
	background-color: #20417c !important;
	color: #ddd;
}

.menu-item {
}

