.align_left {
	text-align: left;
}
.align_right {
	text-align: right;
}
.align_center {
	text-align: center;
}

.align_float_right {
	float: right;
}

.align_float_left {
	float: left;
}

.align_float_none {
	float: none;
}

